{% extends 'base.html.twig' %}

{% block title %}🚀 Space Info{% endblock %}

{% block body %}
<style>
    body { background-image: url('https://c4.wallpaperflare.com/wallpaper/755/965/110/stars-galaxy-blue-milky-way-wallpaper-preview.jpg'); color: #FFF; }
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    .example-wrapper2 { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    #mapid { height: 180px; }
    .hr {

    width: 100%;
    height: 1px;
    display: block;
    position: relative;
    margin-bottom: 15px;
    border-bottom: dashed 2px white;
    }

</style>
  <div class="example-wrapper">
      <h1>Who's in Space? 👩‍🚀🌌‍</h1>

      Current astronauts in space:
      <ul>
        {% for astronaut in astronauts %}
          🌠 {{ astronaut.name|e }}
          <br />
        {% endfor %}
      </ul>

      <b class="hr"></b>

      NASA Picture of the day. <br />

      {% for picture in pictureOfTheDay %}
        {% if picture.mediaType == 'image'  %}
          <img src={{ picture.url }} style="height:200px; width:400px;"></img>
      {% elseif picture.mediaType == 'video'  %}
        <video>
          <source src={{ picture.url }} type="video/mp4">
        </video>
      {% endif %}
       <br /><p>Date: {{ picture.date|date('Y-m-d') }}</p>
       {% if picture.explanation %}
        <p style="font-size:14px;">{{ picture.explanation }}</p>
        {% endif %}
      {%endfor%}
  </div>





<div class="example-wrapper2">
<b class="hr"></b>
    Current location of the International Space Station (ISS)

    <div id="map" style="width: 600px; height: 400px;">
        <script>
        var map = L.map('map').setView([0,0], 2);
    {% for position in positions %}
        function moveISS () {
          $.getJSON('http://api.open-notify.org/iss-now.json?callback=?', function(data) {
              var lat = {{ position.latitude }};
              var lon = {{ position.longitude }};

              iss.setLatLng([lat, lon]);
              map.panTo([lat, lon], animate=true);
          });
          setTimeout(moveISS, 5000);
        }

        L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token={accessToken}', {
          attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, <a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
          maxZoom: 18,
          id: 'mapbox/streets-v11',
          accessToken: 'pk.eyJ1Ijoia2F0ZWZpc2giLCJhIjoiY2szdTlodWM3MDl0eTNlcGkzd291eGJwaCJ9.YxgUp42TE-yviWQbmOv1Xg'
        }).addTo(map);

        var ISSIcon = L.icon({
          iconUrl: 'https://img.icons8.com/android/24/000000/rocket.png',
          iconAnchor: [25, 15],
          popupAnchor: [50, 25]
        });

        var iss = L.marker([0, 0], {
          icon: ISSIcon
        }).addTo(map);

        moveISS();

        </script>
      {% endfor %}
    </div>
</div>
{% endblock %}
